.th {
	BACKGROUND-COLOR: #FFFFFF;
	BACKGROUND-IMAGE: url(bgBlueForm.gif);
	BACKGROUND-POSITION: top;
	BACKGROUND-REPEAT: repeat-x;
	BORDER: 1px solid #316577;
	COLOR: #104939;
	FONT-WEIGHT: bold;
	MARGIN: 2px;
	PADDING: 5px;
	TEXT-ALIGN: center;
}
/* Start Aderlee Pages Style Calsses */
#pages_control {
	border: 1px inset #738fbf;
	font: 8pt ms sans serif,arial;
	HEIGHT: 30;
	padding-bottom: 3px;
	padding-top: 3px;
	margin: 3px;
	vertical-align: middle;
}
#pages_control #page {
	border: 1px inset #000;
	font: 8pt ms sans serif,arial;
	padding-left: 2px;
	padding-right: 2px;
}
#pages_control .pages_option {
	background: #ffffff;
	border: 1px outset #738fbf;
	color: #738fbf;
	margin: 3px;
	padding: 3px;
	font: 8pt ms sans serif,arial;
}
#pages_control .button:hover{
	border: 1px inset #738fbf;
	cursor: pointer;
}
#pages_control .button {
	background: url(bgYellow.gif) repeat-x bottom #ffffff;
	border-TOP: 1px solid #E6E6E6;
	border-RIGHT: 1px solid #E6E6E6;
	border-LEFT: 1px solid #316577;
	border-bottom: 1px solid #316577;
	color: #104939;
	font-weight: normal;
	font: 8pt ms sans serif,arial;
	margin: 1px;
	padding: 2px;
	text-align: center;
	white-space: nowrap;
}
#pages_control .alt1 {
	display: inline-block;
	CURSOR: pointer;
	/*
	position: fixed;
	float: right;
	display: inline-block;
	position: absolute;
	*/
	background: url(bgYellow.gif) repeat-x bottom #ffffff;
	border-TOP: 1px solid #E6E6E6;
	border-RIGHT: 1px solid #E6E6E6;
	border-LEFT: 1px solid #316577;
	border-bottom: 1px solid #316577;
	color: #104939;
	font-weight: normal;
	font: 8pt ms sans serif,arial;
	margin: 1px;
	padding: 2px;
	text-align: center;
	white-space: nowrap;
}
#pages_control A.alt1:link{
	color: #800000;
	text-decoration: none
}
#pages_control A.alt1:visited {
	color: #800000;
	text-decoration: none
}
#pages_control A.alt1:hover{
	background: url(bgBlueForm.gif) repeat-x bottom #ffffff;
	border-TOP: 1px solid #316577;
	border-RIGHT: 1px solid #316577;
	border-LEFT: 1px solid #E6E6E6;
	border-bottom: 1px solid #E6E6E6;
	color: #8E8E8E;
	FONT-WEIGHT: normal;
	text-decoration: none
}
#pages_control A.alt1:active {
	color: #000000;
	text-decoration: none
}
#pages_control .alt2 {
	background: #e1e4f2;
	border: 1px inset #FFFFFF;
	color: #800000;
	display: inline-block;
	font-WEIGHT: normal;
	margin: 1px;
	padding: 2px;
	text-align: center;
	white-space: nowrap;
}
/* End Aderlee Pages Style Calsses */
.tdleft {
	BACKGROUND-COLOR: #e1e1e1;
	BORDER: 1px solid #FFFFFF;
	COLOR: #225448;
	MARGIN: 2px;
	PADDING: 2px;
	FONT-WEIGHT: bold;
	TEXT-ALIGN: left;
}
.tdright {
	BACKGROUND-COLOR: #EAEEEF;
	BORDER: 1px solid #e1e1e1;
	COLOR: #225448;
	MARGIN: 2px;
	FONT-WEIGHT: bold;
	PADDING: 2px;
	TEXT-ALIGN: right;
}
.error, #error  { 
	/*
	background:#FFFFFF none repeat scroll 0% 0%;
	background: #FFFFFF url(red_check.gif) no-repeat top right;
	*/
	background: #FFFFFF url(red_check.gif) repeat-y scroll top right;
	border-bottom:1px solid #FF0000;
	border-left:1px solid #FF0000;
	border-right:1px solid #FF0000;
	border-top:1px solid #FF0000;
	color:#FF0000;
	font-weight: bold;
	margin:5px 1px 5px 1px;
	padding:5px 17px 5px 1px;
	width:97%;
}

.alert, #alert  { 
	color:#FF0000;
	font-weight: bold;
	/*
	float: right;
	clear: both;
	*/
}

.success, #success  { 
	/*
	background:#FFFFFF none repeat scroll 0% 0%;
	background: #FFFFFF url(green_check.gif) repeat-y scroll top right;
	border-bottom:1px solid green;
	border-left:1px solid green;
	border-right:1px solid green;
	border-top:1px solid green;
	color:green;
	display:block;
	margin:5px 1px 5px 1px;
	padding:5px 17px 5px 1px;
	width:97%;
	*/
	font-weight: bold;
	display: block;
	padding: 8px 36px 8px 36px;
	direction: rtl;
	margin: 15px 0;	
	color: green;
	border: 1px solid green;
	background: #FFFFFF url(../../../css/check.png) 98% 50% no-repeat;
}

/* @group Notice Styles */

span.attention,
span.notice,
span.alert,
span.success,
span.download,
span.approved,
span.media,
span.note,
span.cart,
span.camera,
span.doc {
	display: block;
	padding: 8px 36px 8px 36px;
	direction: rtl;
	margin: 15px 0;	
}

span.attention {
	color: #B79000;
	border: 1px solid #E7BD72;
	background: #FFF3A3 url(../../../css/attention.png) 10px 50% no-repeat;
}

span.notice {
	color: #648434;
	border: 1px solid #9BCC54;
	background: #CDEFA6 url(../../../css/notice.png) 10px 50% no-repeat;
}

span.alert {
	color: #CF3738;
	border: 1px solid #FFACAD;
	background: #FFD5D5 url(../../../css/alert.png) 98% 50% no-repeat;
}

span.success {
	color: green;
	border: 1px solid green;
	background: #FFD5D5 url(../../../css/check.png) 98% 50% no-repeat;
}

span.download {
	color: #1C6B8B;
	border: 1px solid #6ABCE2;
	background: #A8CDE3 url(../../../css/download.png) 10px 50% no-repeat;
}

span.approved {
	color: #666;
	border: 1px solid #a8a8a8;
	background: #ccc url(../../../css/approved.png) 10px 50% no-repeat;
}

span.media {
	color: #C76E34;
	border: 1px solid #FFBB65;
	background: #FFE0B6 url(../../../css/media.png) 10px 50% no-repeat;
}

span.note {
	color: #B79000;
	border: 1px solid #E7BD72;
	background: #FFF3A3 url(../../../css/note.png) 10px 50% no-repeat;
}

span.cart {
	color: #666;
	border: 1px solid #C5C5C5;
	background: #E6E6E6 url(../../../css/cart.png) 10px 50% no-repeat;
}

span.camera {
	color: #666;
	border: 1px solid #C5C5C5;
	background: #E6E6E6 url(../../../css/camera.png) 10px 50% no-repeat;
}

span.doc {
	color: #C76E34;
	border: 1px solid #FFBB65;
	background: #FFE0B6 url(../../../css/doc.png) 10px 50% no-repeat;
}

/* @end */

/* @group Typography */

ul.number,
ul.success,
ul.error,
ul.media-1,
ul.media-2,
ul.media-3,
ul.media-4,
ul.plus-1,
ul.plus-2,
ul.lightbulb,
ul.award,
ul.phone,
ul.pdf,
ul.alert,
ul.write,
ul.camera-1,
ul.camera-2,
ul.comment,
ul.rss-1,
ul.rss-2,
ul.check,
ul.star-1,
ul.star-2,
ul.triangle-1,
ul.triangle-2,
ul.triangle-3,
ul.triangle-4,
ul.triangle-5,
ul.triangle-6,
ul.bullet-1,
ul.bullet-2,
ul.bullet-3,
ul.bullet-4,
ul.bullet-5,
ul.bullet-6 {
	padding-left: 10px;
	list-style: none;
	margin-left: 0;
}

ul.number li,
ul.media-1 li,
ul.media-2 li,
ul.media-3 li,
ul.media-4 li,
ul.plus-1 li,
ul.plus-2 li,
ul.lightbulb li,
ul.award li,
ul.phone li,
ul.pdf li,
ul.alert li,
ul.write li,
ul.camera-1 li,
ul.camera-2 li,
ul.comment li,
ul.rss-1 li,
ul.rss-2 li,
ul.check li,
ul.star-1 li,
ul.star-2 li,
ul.triangle-1 li,
ul.triangle-2 li,
ul.triangle-3 li,
ul.triangle-4 li,
ul.triangle-5 li,
ul.triangle-6 li,
ul.bullet-1 li, 
ul.bullet-2 li,
ul.bullet-3 li,
ul.bullet-4 li,
ul.bullet-5 li,
ul.bullet-6 li {
	list-style: none;
	margin-left: 0;
	padding-bottom: 3px;
	margin-bottom: 5px;
	padding-left: 24px;
	padding-right: 24px;
}

li.number-1 {
	background: url(../../../css/number-1.png) 0 0 no-repeat;	
}

li.number-2 {
	background: url(../../../css/number-2.png) 0 0 no-repeat;	
}

li.number-3 {
	background: url(../../../css/number-3.png) 0 0 no-repeat;	
}

li.number-4 {
	background: url(../../../css/number-4.png) 0 0 no-repeat;	
}

li.number-5 {
	background: url(../../../css/number-5.png) 0 0 no-repeat;	
}

li.number-6 {
	background: url(../../../css/number-6.png) 0 0 no-repeat;	
}

li.number-7 {
	background: url(../../../css/number-7.png) 0 0 no-repeat;	
}

li.number-8 {
	background: url(../../../css/number-8.png) 0 0 no-repeat;	
}

li.number-9 {
	background: url(../../../css/number-9.png) 0 0 no-repeat;	
}

ul.media-1 li {
	background: url(../../../css/media-1.png) 0 2px no-repeat;
}

ul.media-2 li {
	background: url(../../../css/media-2.png) 0 2px no-repeat;
}

ul.media-3 li {
	background: url(../../../css/media-3.png) 0 2px no-repeat;
}

ul.media-4 li {
	background: url(../../../css/media-4.png) 0 2px no-repeat;
}

ul.plus-1 li {
	background: url(../../../css/plus-1.png) 4px 2px no-repeat;
}

ul.plus-2 li {
	background: url(../../../css/plus-2.png) 4px 2px no-repeat;
}

ul.camera-1 li {
	background: url(../../../css/camera-1.png) 2px 2px no-repeat;
}

ul.camera-2 li {
	background: url(../../../css/camera-2.png) 2px 2px no-repeat;
}

ul.comment li {
	background: url(../../../css/comment.png) 2px 2px no-repeat;
}

ul.lightbulb li {
	background: url(../../../css/lightbulb.png) 2px 2px no-repeat;
}

ul.award li {
	background: url(../../../css/award.png) 2px 2px no-repeat;
}

ul.phone li {
	background: url(../../../css/phone.png) 2px 2px no-repeat;
}

ul.pdf li {
	background: url(../../../css/pdf.png) 2px 2px no-repeat;
}

ul.alert li {
	background: url(../../../css/alert.png) right 2px no-repeat;
}

ul.write li {
	background: url(../../../css/write.png) 2px 2px no-repeat;
}

ul.rss-1 li {
	background: url(../../../css/rss-1.png) 5px 2px no-repeat;
}

ul.rss-2 li {
	background: url(../../../css/rss-2.png) 2px 2px no-repeat;
}

ul.star-1 li {
	background: url(../../../css/star-1.png) 0 2px no-repeat;
}

ul.star-2 li {
	background: url(../../../css/star-2.png) 0 2px no-repeat;
}

ul.check li {
	background: url(../../../css/check.png) 2px 2px no-repeat;
}

ul.triangle-1 li {
	background: url(../../../css/triangle-1.png) 6px 4px no-repeat;
}

ul.triangle-2 li {
	background: url(../../../css/triangle-2.png) 6px 4px no-repeat;
}

ul.triangle-3 li {
	background: url(../../../css/triangle-3.png) 6px 4px no-repeat;
}

ul.triangle-4 li {
	background: url(../../../css/triangle-4.png) 6px 4px no-repeat;
}

ul.triangle-5 li {
	background: url(../../../css/triangle-5.png) 6px 4px no-repeat;
}

ul.triangle-6 li {
	background: url(../../../css/triangle-6.png) 6px 4px no-repeat;
}

ul.bullet-1 li {
	background: url(../../../css/bullet-1.png) 4px 4px no-repeat;
}

ul.bullet-2 li {
	background: url(../../../css/bullet-2.png) 4px 4px no-repeat;
}

ul.bullet-3 li {
	background: url(../../../css/bullet-3.png) 4px 4px no-repeat;
}

ul.bullet-4 li {
	background: url(../../../css/bullet-4.png) 4px 4px no-repeat;
}

ul.bullet-5 li {
	background: url(../../../css/bullet-5.png) 4px 4px no-repeat;
}

ul.bullet-6 li {
	background: url(../../../css/bullet-6.png) 4px 4px no-repeat;
}

pre {
	background: #f7f7f7;
	border: 1px solid #f0f0f0;
	padding: 10px;
}

blockquote {
	color: #666;
	font-style: italic;
	font-size: 120%;
	line-height: 150%;
	width: auto;
	padding: 0px 0px 5px 60px;
	margin: 15px 0;
	background: url(../../../css/quote-start.png) 0 0 no-repeat;
}

blockquote p {
	padding: 0 60px 10px 0;
	margin-top: 0;
	background: url(../../../css/quote-end.png) 100% 100% no-repeat;
}

blockquote.b {
	color: #666;
	font-style: italic;
	font-size: 110%;
	line-height: 135%;
	width: auto;
	padding: 0px 0px 5px 20px;
	margin: 15px 0 15px 15px;
	background: url(../../../css/quote2-start.png) 0 2px no-repeat;
}

/* @end */
h1, h2, h3, h4 {
	padding-bottom: 5px;
	margin: 0px 0 10px 0;
	font-family: Arial Narrow, Helvetica, Arial, sans-serif;
}

h1 { 
	font-size: 150%;
	line-height: 100%;
	padding: 8px 36px 8px 36px;
	border-top: 3px solid #316577;
	border-bottom: 3px solid #316577;
	background-color: #DAE8ED;
	text-align: center;
}

h2 {
	font-size: 175%;
	line-height: 100%;
}

h3 {
	font-size: 130%;
	padding: 8px 36px 8px 36px;
	border-top: 3px solid #316577;
	border-bottom: 3px solid #316577;
	background-color: #DAE8ED;
	text-align: center;
}

h4 {
	font-size: 120%;
}

a.activebotton, a.activebotton:link, a.activebotton:visited {

	display: block;
	CURSOR: pointer;
	background: url(bgYellow.gif) repeat-x bottom #ffffff;
	border-TOP: 1px solid #E6E6E6;
	border-RIGHT: 1px solid #E6E6E6;
	border-LEFT: 1px solid #316577;
	border-bottom: 1px solid #316577;
	color: #104939;
	font-weight: normal;
	font: 8pt ms sans serif,arial;
	margin: 1px;
	padding: 2px;
	text-align: center;
	white-space: nowrap;
}
a.activebotton:hover, a.activebotton:active {
	background: url(bgBlueForm.gif) repeat-x bottom #ffffff;
	border-TOP: 1px solid #316577;
	border-RIGHT: 1px solid #316577;
	border-LEFT: 1px solid #E6E6E6;
	border-bottom: 1px solid #E6E6E6;
	color: #8E8E8E;
	FONT-WEIGHT: normal;
	text-decoration: none;
}

.inactivebotton, a.inactivebotton, a.inactivebotton:hover, a.inactivebotton:link, a.inactivebotton:visited {
	background: #e1e4f2;
	border: 1px inset #FFFFFF;
	color: #800000;
	display: block;
	font-weight: normal;
	font: 8pt ms sans serif,arial;
	margin: 1px;
	padding: 2px;
	text-align: center;
	white-space: nowrap;
}
